.header {
  /* pointer-events: none; 필요하면 넣기*/
  mix-blend-mode: multiply;
  position: fixed;
  z-index: 5;
  top: 96px;
  left: 0;
  right: 0;
  padding: 0 88px 0 96px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  width: 100%;
  &::after,
  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: white;
    position: relative;
    transition: transform 0.3s;
  }

  &::after {
    top: -5px;
  }

  &::before {
    top: 5px;
  }
}

.burgerActive {
  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}
